[submodule "nvim/.config/nvim/pack/external-plugins/start/gruvbox"]
	path = nvim/.config/nvim/pack/external-plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/tabular"]
	path = nvim/.config/nvim/pack/external-plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-abolish"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-javascript"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-markdown"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-pug"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-repeat"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-rsi"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-unimpaired"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-vue"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-exchange"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/targets.vim"]
	path = nvim/.config/nvim/pack/external-plugins/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
	shallow = true
[submodule "bash/.config/bash/LS_COLORS"]
	path = bash/.config/bash/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
	shallow = true
[submodule "bash/.config/bash/z"]
	path = bash/.config/bash/z
	url = https://github.com/rupa/z.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-sandwich"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/yats.vim"]
	path = nvim/.config/nvim/pack/external-plugins/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-eunuch"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/previm"]
	path = nvim/.config/nvim/pack/external-plugins/start/previm
	url = https://github.com/fer22f/previm.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-swap"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-swap
	url = https://github.com/machakann/vim-swap.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-package-info"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-package-info
	url = https://github.com/meain/vim-package-info.git
	shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/ReplaceWithRegister"]
	path = nvim/.config/nvim/pack/external-plugins/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
  shallow = true
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-signify"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-rooter"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-evanesco"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-evanesco
	url = https://github.com/pgdouyon/vim-evanesco
[submodule "nvim/.config/nvim/pack/external-plugins/start/awk-ward.nvim"]
	path = nvim/.config/nvim/pack/external-plugins/start/awk-ward.nvim
	url = https://gitlab.com/HiPhish/awk-ward.nvim
[submodule "nvim/.config/nvim/pack/external-plugins/start/splitjoin.vim"]
	path = nvim/.config/nvim/pack/external-plugins/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-indent-guides"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-peekaboo"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/editorconfig-vim"]
	path = nvim/.config/nvim/pack/external-plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-ExtractMatches"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-ExtractMatches
	url = https://github.com/inkarkat/vim-ExtractMatches.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-ingo-library"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/vim-move"]
	path = nvim/.config/nvim/pack/external-plugins/start/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/tcomment_vim"]
	path = nvim/.config/nvim/pack/external-plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "nvim/.config/nvim/pack/external-plugins/start/coc.nvim"]
	path = nvim/.config/nvim/pack/external-plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
